@model AssignmentPS42054.Models.Users

@{
    ViewData["Title"] = "Register";
}

<div class="dangky-container">
    <form asp-action="Register" id="register-form">
        <h1>Đăng ký</h1>
        <div class="text-success">@ViewBag.Message</div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Mobile" class="control-label"></label>
            <input asp-for="Mobile" class="form-control" />
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Pass" class="control-label"></label>
            <input asp-for="Pass" type="password" class="form-control" />
            <span asp-validation-for="Pass" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Tạo tài khoản" class="btn btn-primary" />
        </div>
    </form>
</div>
