<main>
    <section class="banner">
        <div class="banner-content">
            <img src="~/image/logo.png" alt="Banner Logo" class="banner-logo">
        </div>
        <div class="banner-images">
            <img src="~/image/Banner1.png" alt="Model 1" class="active">
        </div>
    </section>
    <section id="products-section" class="hidden">
       
    </section>
    <div class="flash-sale">
        <h2>Giới thiệu </h2><br />
    </div>
    <P>Chào mừng bạn đến với Stressmama - điểm đến lý tưởng cho những tín đồ thời trang hoodie! Chúng tôi tự hào là cửa hàng chuyên biệt, mang đến cho bạn bộ sưu tập hoodie đa dạng và phong cách. Từ những chiếc áo hoodie cổ điển đến các mẫu thiết kế hiện đại, Stressmama luôn cập nhật xu hướng mới nhất để đáp ứng mọi sở thích và phong cách cá nhân. Với chất liệu cao cấp, đường may tỉ mỉ và giá cả hợp lý, chúng tôi cam kết mang lại sự thoải mái và phong cách cho mọi khách hàng. Hãy ghé thăm Stressmama ngay hôm nay để khám phá thế giới hoodie đầy màu sắc và sáng tạo!</P>
</main>
